<%- include('./partials/header'); -%> <%-
include('./partials/navigation-bar');-%>
<section id="profile">
  <div class="profile-brief-detail inline">
    <div class="profile-pic">
      <img src="/images/default-user-profile.jpg" alt="" />
    </div>
    <div class="user-text-details">
      <div class="username-message-followBtn inline">
        <div class="username">
          <h2><%= username %></h2>
        </div>
        <div class="message-btn">
          <a href="/direct/<%=_id%>">Message</a>
        </div>
        <div class="follow-unfollow-btn">
          <input
            type="submit"
            name="xyz223"
            value="<%= followOrNot.value %>"
            class="<%= followOrNot.class %>"
          />
        </div>
      </div>

      <div class="following-post-follower-count">
        <span class="small-details"><%= posts.length %> Posts</span>
        <a href="/profile/followers/<%= _id %>" class="small-details">
          <%= followersCount %> Followers</a
        >
        <a href="/profile/followings/<%= _id %>" class="small-details"
          ><%= followingCount %> Following</a
        >
      </div>
    </div>
  </div>
  <hr class="profile-line" />
  <div class="posts">
    <div class="post-heading">
      <h3>Posts</h3>
    </div>
    <div class="posts-content">
      <%posts.forEach((post,i)=>{%>
      <div class="post-box other-user-post-box">
        <div class="post-title">
          <h3><%=post.title %></h3>
        </div>
        <div class="post-body-content"><%=post.bodyContent %></div>
        <div class="post-likes">
          <input type="hidden" class="liked-user-id" name="<%=post._id%>" />
          <i class="<%= postLikeClass[i]%> fa-heart like-btn"></i>
          <span><%= post.likes.length %></span>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</section>
<script src="/js/profilePageFollow.js"></script>
<%- include('./partials/footer'); -%>
